@import "~normalize.css";
@import '~bootstrap/scss/bootstrap';

.page {
	width: 100%;
	height: 100%;

	@extend .d-flex;

	justify-content: center;
	align-items: center;
}

html, body {
	@extend .page;
}

body {
  font-size: 5rem;
}